name: libjustify CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Compile check
      run: |
        mkdir build install
        cd build
        cmake --version
        cmake -DCMAKE_INSTALL_PREFIX=../install ../src/
        # build
        VERBOSE=1 make -j
        # install
        make -j install
        # test
        env CTEST_OUTPUT_ON_FAILURE=1 make test
